{% extends "base.html" %}
{% block title %} Приянтые заказы {% endblock %}
{% block content %}
    <div class="container">
        {% include "menu.html" with page=3 %}
        <h1> Принятые заказы </h1>
        {% for order in orders %}
            {% include "order_item.html" with order=order %}
        {% endfor %}
                {% if not orders %}
        <div class="card mb-3 mt-1 shadow-sm">

                <div class="card-body">
                        <p class="card-text">
                                Принятых заказов нет
                        </p>

                </div>
        </div>
        {% endif %}
    </div>
{% endblock %}