{% extends "base.html" %}
{% block title %} Приянтые заказы {% endblock %}
{% block content %}
    <div class="container">
        {% include "menu.html" %}
        <h1> Принятые заказы </h1>
        {% for order in page %}
            {% include "order_item.html" with order=order %}
        {% endfor %}
        {% if not page %}
        <div class="card mb-3 mt-1 shadow-sm">

                <div class="card-body">
                        <p class="card-text">
                                Принятых заказов нет
                        </p>

                </div>
        </div>
        {% endif %}
    </div>
        {% if page.has_other_pages %}
            {% include "paginator.html" with items=page %}
        {% endif %}
{% endblock %}