<div class="alert alert-primary alert-dismissible fade show" role="alert">
    <a href="https://yandex.ru/drive/" target="_blank"><img src="https://avatars.mds.yandex.net/get-zen_doc/98843/pub_5ba93208519f9a00aa93434f_5ba932358f43c900aac865c8/scale_1200" alt="pic" width="200" height="90"/></a>
    <a href="https://taxi.yandex.ru/" target="_blank"><img src="https://выкса.рф/uploads/posts/2019-01/1548161492_dgxcf313dsy.jpg" alt="pic" width="200" height="90"/></a>
    <a href="https://lavka.yandex/" target="_blank"><img src="https://telegra.ph/file/63d5786d1ddfe7e21fc18.jpg" alt="pic" width="200" height="90"/></a>
    <a href="https://travel.yandex.ru/" target="_blank"><img src="https://im0-tub-ru.yandex.net/i?id=68c17540ccd9a9243f22c69bc56ab441&n=13" alt="pic" width="200" height="90"/></a>
    <a href="https://music.yandex.ru/home" target="_blank"><img src="https://lh3.googleusercontent.com/gz_k2I0dwpE2CkPDbdy5uH9XueBIKARTZ6GFbAaBRXdNGWt8rKJS_YswIN-vOjhYMQM" alt="pic" width="200" height="90"/></a>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>