{% extends "base.html" %}
{% block title %}Главная{% endblock %}
{% block content %}
    <div class="row">
            <div class="col-md-12 mb-3 mt-3">
                    <div class="card">
                            <div class="card-body">
                                    <div class="h2">
                                         Рекомендательная система для продвижения партнерских услуг физическим лицам коммерческого банка на основе данных их транзакций
                                    </div>
                            </div>
                            <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                            <div class="h6 text-muted">
                                            Проект выполнили:  <br />
                                             <br />
                                            Поликарпов Кирилл  <br />
                                            Хан Александр  <br />
                                            Шрамко Владислав  <br />
                                            Озбетелашвили Георгий
                                            </div>
                                           <div class="h6 text-muted">
                                               Под руководством Косарева Ильи Максимовича
                                           </div>
                                    </li>
                            </ul>
                    </div>
            </div>
    </div>
{% endblock %}