{% if request.user.is_authenticated %}
<div class="row">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link {% if request.GET.filter == None %}active{% endif %}" href="{% url 'orders' %}">Все заказы</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.GET.filter == 'unconfirmed' %}active{% endif %}" href="{% url 'orders' %}?filter=unconfirmed">Неподтвержденные заказы</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.GET.filter == 'confirmed' %}active{% endif %}" href="{% url 'orders' %}?filter=confirmed">Подтвержденные заказы</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.GET.filter == 'accepted' %}active{% endif %}" href="{% url 'orders' %}?filter=accepted">Принятые заказы</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.GET.filter == 'completed' %}active{% endif %}" href="{% url 'orders' %}?filter=completed">Выполненные заказы</a>
        </li>
    </ul>
</div>
{% endif %}