{% if request.user.is_authenticated %}
<div class="row">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link {% if request.GET.filter == None %}active{% endif %}" href="{% url 'messages' %}">Все сообщения</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.GET.filter == 'new' %}active{% endif %}" href="{% url 'messages' %}?filter=new">Новые сообщения</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.GET.filter == 'read' %}active{% endif %}" href="{% url 'messages' %}?filter=read">Прочитанные сообщения</a>
        </li>
    </ul>
</div>
{% endif %}