<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/">Recommendation System</a>
    <nav class="my-2 my-md-0 mr-md-3">

        <a class="p-2 text-dark" href="{% url 'index' %}">Главная</a>
        <a class="p-2 text-dark" href="{% url 'categories' %}">Категории</a>
        <a class="p-2 text-dark" href="{% url 'order_new' %}">Создать заказ</a>
        <a class="p-2 text-dark" href="{% url 'api' %}">API</a>
        {% if request.user.is_authenticated %}
        <a class="p-2 text-dark" href="{% url 'all_orders' %}">Заказы</a>
        <a class="p-2 text-dark" href="/admin/">Данные</a>
        <a class="p-2 text-dark" href="{% url 'logout' %}">Выйти</a>
        {% else %}
        <a class="p-2 text-dark" href="{% url 'login' %}">Управление</a>
        {% endif %}

    </nav>
</nav>