{% extends "base.html" %}
{% block title %} Новые сообщения {% endblock %}
{% block content %}
    <div class="container">
        {% include "menu_messages.html" %}
        <h1> Новые сообщения </h1>
        {% if page %}
        <a class="btn btn-info btn-lg btn-block"
            role="button" href="{% url 'messages_read_all' request.resolver_match.url_name %}">
            Прочитать все
        </a>
        {% endif %}
        {% for item in page %}
            {% include "message_item.html" with message=item %}
        {% endfor %}
        {% if not page %}
            <div class="card mb-3 mt-1 shadow-sm">

                    <div class="card-body">
                            <p class="card-text">
                                    Новых сообщений нету
                            </p>

                    </div>
            </div>
        {% endif %}
    </div>
        {% if page.has_other_pages %}
            {% include "paginator.html" with items=page %}
        {% endif %}
{% endblock %}