{% extends "base.html" %}
{% block title %}Заказ{% endblock %}
{% block content %}
<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <div class="row">
            <div class="col-md-5 mb-3 mt-1">
                    <div class="card">
                            <div class="card-body">
                                    <div class="h2">
                                         Код заказа: {{ order.code }}
                                    </div>
                                    <div class="h3 text-muted">
                                         <a><strong class="d-block text-dark">Компания: {{ order.company_name }}</strong></a>
                                         <a><strong class="d-block text-dark">Категория: {{ order.category }}</strong></a>
                                         <a><strong class="d-block text-dark">Email: {{ order.email }}</strong></a>
                                    </div>
                            </div>
                            <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                            <div class="h6 text-primary">
                                            Количество клиентов: {{ order.clients_number }}
                                            </div>
                                    </li>
                                    <li class="list-group-item">
                                            <div class="h6 text-primary">
                                            Дата начала: {{ order.date_start }} <br />
                                            Дата окончания: {{ order.date_end }} <br />
                                            Всего дней: {{ order.days }}
                                            </div>
                                    </li>
                                    <li class="list-group-item">
                                            <div class="h6 text-primary">
                                                Ожидаемая цена услуги:
                                                {{ order.price }} ₽ <br/>
                                            </div>
                                    </li>
                                    {% if request.user.is_authenticated %}
                                            <li class="list-group-item">
                                                    <div class="h6 text-primary">
                                                        Дата создания заказа: {{ order.creation_date }} <br/>
                                                        {% if order.acceptance_status %}
                                                        Дата принятия заказа: {{ order.acceptance_date }} <br/>
                                                        {% endif %}
                                                        {% if order.completion_status %}
                                                        Дата выполнения заказа: {{ order.completion_date }}
                                                        {% endif %}
                                                    </div>
                                            </li>
                                            <li class="list-group-item">
                                                    {% if order.completion_status %}
                                                    <div class="h6 text-success">
                                                        Заказ выполнен
                                                    </div>
                                                    {% elif order.acceptance_status %}
                                                    <div class="h6 text-success">
                                                        Заказ принят и ожидает выполнения
                                                    </div>
                                                    {% elif order.confirmation_status %}
                                                    <div class="h6 text-success">
                                                        Заказ подтвержден и ожидает принятия
                                                    </div>
                                                    {% else %}
                                                    <div class="h6 text-warning">
                                                        Заказ ожидает подтверждения
                                                    </div>
                                                    {% endif %}
                                            </li>
                                    {% else %}
                                            {% if order.confirmation_status == True %}
                                                    <li class="list-group-item">
                                                            {% if order.completion_status %}
                                                            <div class="h6 text-success">
                                                                Ваш заказ выполнен!
                                                            </div>
                                                            {% elif order.acceptance_status %}
                                                            <div class="h6 text-success">
                                                                Ваш заказ принят!
                                                            </div>
                                                            {% else %}
                                                            <div class="h6 text-warning">
                                                                Ваш заказ ожидает рассмотрения.
                                                            </div>
                                                            {% endif %}
                                                    </li>
                                            {% endif %}
                                    {% endif %}
                            </ul>
                            {% if request.user.is_authenticated %}
                                {% if order.confirmation_status %}
                                    {% if not order.acceptance_status  %}
                                        <a class="btn btn-lg btn-success"
                                            role="button" href="{% url 'order_accept' order.id %}">
                                            Принять заказ
                                        </a>
                                    {% elif not order.completion_status %}
                                        <a class="btn btn-lg btn-success"
                                            role="button" href="{% url 'order_complete' order.id %}">
                                            Выполнить заказ
                                        </a>
                                    {% endif %}
                                {% endif %}
                                {% if message %}
                                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                        <strong>{{ message }}</strong>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endif %}
                            {% else %}
                                    {% if not order.acceptance_status %}
                                            {% if order.confirmation_status == False %}
                                                    <a class="btn btn-lg btn-success"
                                                        role="button" href="{% url 'order_confirm' order.id %}">
                                                        Подтвердить заказ
                                                    </a>
                                            {% else%}
                                                    <a class="btn btn-lg btn-danger"
                                                        role="button" href="{% url 'order_cancel' order.id %}">
                                                        Отменить заказ
                                                    </a>
                                            {% endif %}
                                    {% endif %}
                            {% endif%}
                            <a class="btn btn-lg btn-primary"
                                role="button" href="{% url 'order_download' %}">
                                Скачать аналитику
                            </a>
                    </div>
            </div>

            <div class="col-md-7">
                <div class="card mb-3 mt-1 shadow-sm">
                        <div class="card-body">
                                <p class="card-text">
                                    <div class="h2">
                                        Соотношение полов клиентов
                                    </div>
                                    <div id="myChartGender"></div>
                                    <div class="h2">
                                        Возраст клиентов
                                    </div>
                                    <div id="myChartAge"></div>



<script>
    var state ={
		'aitems':[],
		'avalues':[],
		'gitems':[],
		'gvalues':[],
	}

	var objId = "{{order.id}}"

	var dataURL = `/order/data/gender/${objId}/`
    $.ajax({
            method:'GET',
            url:dataURL,
            success:function(response){
                console.log('RESPONSE:', response)
                for (var i in response){

                    var key = Object.keys(response[i])[0]
                    var value = Object.values(response[i])[0]

                    state.gitems.push(key)
                    state.gvalues.push(value)
                }

                console.log('STATE:', state)
                buildChart()

            }
    })
	var dataURL = `/order/data/age/${objId}/`
    $.ajax({
            method:'GET',
            url:dataURL,
            success:function(response){
                console.log('RESPONSE:', response)
                for (var i in response){

                    var key = Object.keys(response[i])[0]
                    var value = Object.values(response[i])[0]

                    state.aitems.push(key)
                    state.avalues.push(value)
                }

                console.log('STATE:', state)
                buildChart()

            }
    })
    function buildChart(){
			var chartAData = {
			"type":"line",
			"scale-x":{
				"values":state.aitems
			},
			"series":[
				{
					"values":state.avalues
				}
			]
		}
			var chartGData = {
			"type":"bar",
			"scale-x":{
				"values":state.gitems
			},
			"series":[
				{
					"values":state.gvalues
				}
			]
		}

		zingchart.render({
		  id: "myChartGender",
		  data: chartGData,
		});
		zingchart.render({
		  id: "myChartAge",
		  data: chartAData,
		});
	}

</script>
                                </p>
                        </div>
                </div>
            </div>
    </div>
{% endblock %}