{% extends "base.html" %}
{% block title %} Прочитанные сообщения {% endblock %}
{% block content %}
    <div class="container">
        {% include "menu_messages.html" %}
        <h1> Прочитанные сообщения </h1>
        {% for item in page %}
            {% include "message_item.html" with message=item %}
        {% endfor %}
        {% if not page %}
            <div class="card mb-3 mt-1 shadow-sm">

                    <div class="card-body">
                            <p class="card-text">
                                    Прочитанных сообщений нету
                            </p>

                    </div>
            </div>
        {% endif %}
    </div>
        {% if page.has_other_pages %}
            {% include "paginator.html" with items=page %}
        {% endif %}
{% endblock %}