{% extends "base.html" %}
{% block title %} Неподтвержденные заказы {% endblock %}
{% block content %}
    <div class="container">
        {% include "menu.html" %}
        <h1> Неподтвержденные заказы </h1>
        {% for order in orders %}
            {% include "order_item.html" with order=order %}
        {% endfor %}
        {% if not orders %}
        <div class="card mb-3 mt-1 shadow-sm">

                <div class="card-body">
                        <p class="card-text">
                                Неподтвержденных заказов нет
                        </p>

                </div>
        </div>
        {% endif %}
    </div>
{% endblock %}